﻿body {
    width: 100%;
    padding: 0;
    margin: 0;
}

.clearfix {
    &:before,
    &:after {
        display: table;
        content: '';
    }

    &:after {
        clear: both;
    }
}

section {
    @extend .clearfix;
    width: 100%;
    max-width: 1230px;
    margin: 0 auto;
    position: relative;
}

.header {
    position: fixed;
    top: 0;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    z-index: 3;
    width: 100%;
    max-width: 1680px;
    background: #ffffff;
}

.wide {
    max-width: none;
}

.block-center {
    display: block;
    float: none;
    margin: 0 auto;
}

.switch {
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-175px,0);
    -moz-transform: translate(-175px,0);
    transform: translate(-175px,0);
    width: 340px;
    height: 86px;
    z-index: 2;
    display: inline-block;
}

footer {
    width: 100%;
    background: #eff6fa;
}

//swithcing classes
.cxo-content {
    display: none;
}

body.cxo-enabled {
    .cxo-content {
        display: block;
    }

    .cio-content {
        display: none;
    }
}

//leistungen
.leistungen-card {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 290px;
    height: 162px;
    display: inline-block;
    border-radius: 5px;

    img {
        display: none;
    }

    &:hover {
        background: #fff;
        img {
            display: block;
        }
    }

    &.card1{
        left: 358px;
        bottom: 40px;
    }

    &.card2{
        left: 658px;
        bottom: 40px;
    }

    &.card3{
        left: 958px;
        bottom: 40px;
    }

    &.card4{
        left: 1258px;
        bottom: 40px;
    }
}

.scrolling-card{
    position: absolute;
    left: 50%;
    top: 0;
    -webkit-transform: translate(315px,330px);
    -moz-transform: translate(315px,330px);
    transform: translate(315px,330px);
    transition: 0.2s linear all;
}

.hover-image{
    position: absolute;
    display: inline-block;

    img{
        display: none;
    }

    &:hover{
        img{display: block;}
    }

    &.cio-4-card{
        left: 636px;
        top: 106px;
        width: 330px;
        height: 620px;
    }

    &.cxo-4-card{
        left: 767px;
        top: 326px;
        width: 370px;
        height: 199px;
    }
}